train_images/ok/*.JPG
train_images/ok/*.jpg
train_images/ok/*.PNG
train_images/ok/*.png
train_images/ok/*.jpeg
train_images/ok/*.webp
train_images/dangerous/*.JPG
train_images/dangerous/*.jpg
train_images/dangerous/*.PNG
train_images/dangerous/*.png
train_images/dangerous/*.jpeg
train_images/dangerous/*.webp